* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #f7f8f7; */
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box-container {
    margin: 20% 20%
}

.header {
    margin-top: 20%;
    text-align: center;
    
}

h2 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    background-color: #2d7272;
    color: #dff2f2;
}


input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(176, 184, 154);
    font-family : inherit;
    font-size   : 100%;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.Submit {
    width: 25%;
    background-color: #2d7272;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size   : 100%;
}

.Submit:hover {
    background-color: #22535c;
}

.UserLogin {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 5px 10px #888888;
    text-align: center;
}

